{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}

  <h1>Prêmio Eficiencia Operacional</h1>
  {% if form.errors %}
    <p>
      O nome de usuário ou senha não correspondem.
      Por favor, tente novamente.
    </p>
  {% else %}

  {% endif %}

  <div class="login-form">

    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Entrar"></p>
    </form>
    <p><a href="{% url "register" %}">registre-se aqui</a>.</p>
    <p><a href="{% url "password_reset" %}">Esqueci a minha senha?</a></p>
  </div>
{% endblock %}
