{% extends "base.html" %}
{% block title %}Premio Eficiência Operacional{% endblock %}
{% block content %}
<h2 align="center">Contratos Pendentes</h2>
<div class="table-responsive">
  <table class="table table-striped" align="center">
    <thead class="thead-dark">
      <tr nowrap="true">
        <th scope="col">id</th>
        <th scope="col">Contrato</th>
        <th scope="col">Unidade</th>
        <th scope="col">Superintendente</th>
        <th scope="col">Data de Inicio</th>
        <th scope="col">Data Final</th>
      </tr>
    </thead>
    <tbody>
          {% for contrato in cont_pendentes %}
          <tr>
            <td><a href="{% url 'informacoes_contrato' contrato.id %}">{{contrato.id}}</a></td>
            <td><a href="{% url 'informacoes_contrato' contrato.id %}">{{contrato.numemro_contrato}}</a></td>
            <td><a href="{% url 'informacoes_contrato' contrato.id %}">{{contrato.unidade}}</a></td>
            <td><a href="{% url 'informacoes_contrato' contrato.id %}">{{contrato.superintendente}}</a></td>
            <td><a href="{% url 'informacoes_contrato' contrato.id %}">{{contrato.data_inicio|date:'d-m-Y'}}</a></td>
            <td><a href="{% url 'informacoes_contrato' contrato.id %}">{{contrato.data_fim|date:'d-m-Y'}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
