{% extends "base.html" %}
{% load static %}
{% block title %}Premio Eficiência Operacional {% endblock %}
{% block content %}
<meta http-equiv="refresh" content="180"/>
<body>
<h4 color="#4B0082" align="center" ><img src="{% static 'images/trofeis.jpeg' %}"
                                         width="70" height="50" alt="Logo" align="center">
    Ranking  <b>{{ref}}</b>  Interior</h3>
<hr>
<div class="row">
    <form method="POST">
        <div></div>
        {% csrf_token %}
        <div align="center">
            <select class="form-control" name="mes_ref"  required onchange="this.form.submit()">
                <option value="">REFERÊNCIA</option>
                {% for ref in referencia %}
                <option>{{ ref.mes_ref}}</option>
                {% endfor %}
            </select>
        </div>
        <div></div>
    </form>
</div>

<div class="row">
    <div class="card blue">
        <a href="{% url 'melhores_M_idg' %}">
            <h>INDICE DE DESEMPENHO GLOBAL (IDG):</h>
            <p>1º - {{primeiro_idg}}</p>
            <p>2º - {{segundo_idg}}</p>
            <p>3º - {{terceiro_idg}}</p>
        </a>
    </div>
    <div class="card blue">
        <a href="{% url 'melhores_M_isap' %}">
            <h>SERVIÇOS ATENDIDOS NO PRAZO (ISAP):</b></h>
            <p>1º - {{primeiro_arsesp}}</p>
            <p>2º - {{segundo_arsesp}}</p>
            <p>3º - {{terceiro_arsesp}}</p>
        </a>
    </div>
</div>
<div class="row">
    <div class="card blue">
        <a href="{% url 'melhores_M_idr' %}">
            <h>ENTREGA DO CADASTRO E IMOBILIZAÇÃO:</h>
            <p>1º - {{primeiro_cadastro}}</p>
            <p>2º - {{segundo_cadastro}}</p>
            <p>3º - {{terceiro_cadastro}}</p>
        </a>
    </div>
    <div class="card blue">
        <a href="{% url 'melhores_M_ida' %}">
            <h>SEGURANÇA:</h>
            <p>1º - {{primeiro_seguranca}}</p>
            <p>2º - {{segundo_seguranca}}</p>
            <p>3º - {{terceiro_seguranca}}</p>
        </a>
    </div>
</div>
</body>
{% endblock  %}
