{% extends "base.html" %}

{% block title %}ODG-Eficiencia Operacional{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="180"/>
<body>
<h2 color="#4B0082" align="center">Melhores da M</h2>
<div class="row">
    <div class="card blue">
        <a>
       <h>INDICE DE DESEMPENHO GLOBAL (IDG): </h>
        <p>1º {{primeiro_idg}}</p>
        <p>2º {{segundo_idg}}</p>
        <p>3º {{terceiro_idg}}</p>
        </a>
    </div>
    <div class="card blue">
        <a>
        <h>SERVIÇOS ATENDIDOS NO PRAZO (ISAP)<h></h>
        <p>1º {{primeiro_isap}}</p>
        <p>2º {{segundo_isap}}</p>
        <p>3º {{terceiro_isap}}</p>
        </a>
    </div>
        <div class="card blue">
        <a>
        <h>INDICE DE DESEMPENHO REPOSIÇÃO (IDR): </h>
        <p>1º {{primeiro_idr}}</p>
        <p>2º {{segundo_idr}}</p>
        <p>3º {{terceiro_idr}}</p>
        </a>

    </div>
</div>
<div class="row">
    <div class="card blue">
        <a>
        <h>INDICE DE DESEMPENHO NA ÁGUA (IDA): </h>
        <p>1º {{primeiro_ida}}</p>
        <p>2º {{segundo_ida}}</p>
        <p>3º {{terceiro_ida}}</p>
        </a>
    </div>
    <div class="card blue">
        <a>
        <h>INDICE DE DESEMPENHO NA ESGOTO(IDE): </h>
        <p>1º {{primeiro_ide}}</p>
        <p>2º {{segundo_ide}}</p>
        <p>3º {{terceiro_ide}}</p>
        </a>
    </div>
    <div class="row">

    <div class="card blue">
    </div>

</div>
</div>


</body>
</html>
{% endblock  %}
