{% extends "base.html" %}

{% block title %}ODG-Eficiencia Operacional{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="180"/>
<body>
<h3 color="#4B0082" align="center">Melhores da M - Referencia {{referencia}}</h3>
<div class="row">
    <div class="card blue">
        <a href="{% url 'melhores_M_idg' %}">
       <h>INDICE DE DESEMPENHO GLOBAL (IDG): </h>
        <p>1º - <b>{{primeiro_idg}}</b></p>
        <p>2º - <b>{{segundo_idg}}</b></p>
        <p>3º - <b>{{terceiro_idg}}</b></p>
        </a>
    </div>
    <div class="card blue">
        <a href="{% url 'melhores_M_isap' %}">
        <h>SERVIÇOS ATENDIDOS NO PRAZO (ISAP)</b></h>
        <p>1º - <b>{{primeiro_isap}}</b></p>
        <p>2º - <b>{{segundo_isap}}</b></p>
        <p>3º - <b>{{terceiro_isap}}</b></p>
        </a>
    </div>
        <div class="card blue">
        <a href="{% url 'melhores_M_idr' %}">
        <h>INDICE DE DESEMPENHO REPOSIÇÃO (IDR): </h>
        <p>1º - <b>{{primeiro_idr}}</b></p>
        <p>2º - <b>{{segundo_idr}}</b></p>
        <p>3º - <b>{{terceiro_idr}}</b></p>
        </a>

    </div>
</div>
<div class="row">
    <div class="card blue">
        <a href="{% url 'melhores_M_ida' %}">
        <h>INDICE DE DESEMPENHO NA ÁGUA (IDA): </h>
        <p>1º - <b>{{primeiro_ida}}</b></p>
        <p>2º - <b>{{segundo_ida}}</b></p>
        <p>3º - <b>{{terceiro_ida}}</b></p>
        </a>
    </div>
    <div class="card blue">
        <a href="{% url 'melhores_M_ide' %}">
        <h>INDICE DE DESEMPENHO NO ESGOTO(IDE): </h>
        <p>1º - <b>{{primeiro_ide}}</b></p>
        <p>2º - <b>{{segundo_ide}}</b></p>
        <p>3º - <b>{{terceiro_ide}}</b></p>
        </a>
    </div>


</div>
</div>


</body>
</html>
{% endblock  %}
