{% extends "base.html" %}

{% block title %}ODG-Eficiencia Operacional{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="180"/>
<body>
<h2 color="#4B0082" align="center">Melhores da M</h2>
<div class="row">
    <div class="card green">
        <h>IDG: </h>
        <p>1ª AAAAAAAA</p>
        <p>2ª CCCCCCCC</p>
        <p>3ª MMMMMMMM</p>
    </div>
    <div class="card green">
        <h>ISAP: </h>
        <p>1ª XXXXXXXX</p>
        <p>2ª AAAAAAAA</p>
        <p>3ª BBBBBBBB</p>
    </div>
    <div class="card green">
        <h>IDA: </h>
        <p>1ª JJJJJJJJ</p>
        <p>2ª AAAAAAAA</p>
        <p>3ª BBBBBBBB</p>
    </div>
        <div class="card green">
        <h>IDE: </h>
        <p>1ª AAAAAAAA</p>
        <p>2ª CCCCCCCC</p>
        <p>3ª MMMMMMMM</p>
    </div>
</div>
<div class="row">

    <div class="card green">
        <h>IDR: </h>
        <p>1ª XXXXXXXX</p>
        <p>2ª AAAAAAAA</p>
        <p>3ª BBBBBBBB</p>
    </div>
    <div class="card green">
        <h>CADASTRO E IMOBILIZAÇÃO: </h>
        <p>1ª JJJJJJJJ</p>
        <p>2ª AAAAAAAA</p>
        <p>3ª BBBBBBBB</p>
    </div>
        <div class="card green">
        <h>SEGURANÇA E CAPACITAÇÃO: </h>
        <p>1ª AAAAAAAA</p>
        <p>2ª CCCCCCCC</p>
        <p>3ª MMMMMMMM</p>
    </div>
</div>
<div class="row">


</div>
</body>
</html>
{% endblock  %}
