{% extends "base.html" %}

{% block title %}ODG-Eficiencia Operacional{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="180"/>
<body>
<h4 color="#4B0082" align="center">Melhores da R</h4>
<div class="row">
    <div class="card blue">
        <a href="{% url 'melhores_idg_r' %}">
        <h>IDG: </h>
        <p>1ª AAAAAAAA</p>
        <p>2ª CCCCCCCC</p>
        <p>3ª MMMMMMMM</p>
        </a>
    </div>
    <div class="card blue">
            <a href="{% url 'melhores_prazo_r' %}">
            <h>PRAZO ARSESP: </h>
            <p>1ª XXXXXXXX</p>
            <p>2ª AAAAAAAA</p>
            <p>3ª BBBBBBBB</p>
            <a>
    </div>
    <div class="card blue">
        <h>ACIDENTES: </h>
        <p>1ª JJJJJJJJ</p>
        <p>2ª AAAAAAAA</p>
        <p>3ª BBBBBBBB</p>
    </div>
</div>
<div class="row">

    <div class="card blue">
        <h>CADASTRO E IMOBILIZAÇÃO: </h>
        <p>1ª JJJJJJJJ</p>
        <p>2ª AAAAAAAA</p>
        <p>3ª BBBBBBBB</p>
    </div>
</div>
<div class="row">

</div>
</body>
</html>
{% endblock  %}
