{% load static %}

<html lang="pt-br">
<!DOCTYPE html>
<html >
<head>
  <meta charset="="UTF-8>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="{% static 'images/favicon.png' %}">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>
<body autocomplete="off">
  <div id="header">
    <span class="logo" >Eficiencia Operacional - ODG</span>
    {% if request.user.is_authenticated %}
     <ul class="menu">
       <li {% if section == 'index' %}class="selected"{% endif %}>
            <a href="{% url 'index' %}">Painel</a>
       </li>
     </ul>

    <ul class="menu">
      <li {% if section == "Indicadores M" %}class='selected'{% endif %}>
        <a href="{% url 'indicadores_M' %}">Indicadores M</a>
      </li>
      <li {% if section == 'Indicadores R' %}class="selected"{% endif %}>
          <a href="{% url 'indicadores_R' %}">Indicadores R</a>
      </li>
      <li {% if section == "Processar" %}class="selected"{% endif %}>
          <a href="{% url "processar" %}">Processar</a>
      </li>
      <li {% if section == "dashboard" %}class="selected"{% endif %}>
        <a href="{% url "dashboard" %}">Alterar Senha</a>
      </li>
    </ul>
  {% endif %}
  <span class="user">
    {% if request.user.is_authenticated %}
      Você esta logado como {{ request.user.username }}.
      <a href="{% url "logout" %}">   Sair</a>
    {% else %}
      <a href="{% url "login" %}"> Entrar</a>
    {% endif %}
  </span>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>


</html>
<footer>
  <p align="right" color="#87CEEB"></p>

  <p</p>
</footer>
