{% load static %}
{% load permission_tags%}
<html lang="pt-br">
<!DOCTYPE html>
<html >
<head>

  <meta charset="="UTF-8>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="{% static 'images/favicon1.png' %}">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>
<body autocomplete="off">
  <div id="header">
    <span class="logo" > <img src="{% static 'images/sabesp.png' %}"  width="50" height="50" alt="Logo" align="left" />Premio Eficiência Operacional</span>
    {% if request.user.is_authenticated %}
      {% if user|has_role:'nao_liberado'%}
        Você ainda não tem o acesso liberado!
     {% else%}
    <ul class="menu">
         <li {% if section == "as_melhores" %}class='selected'{% endif %}>
              <a href="{% url 'as_melhores' %}">Ranking </a>
         </li>
       </ul>

      <ul class="menu">
        <li {% if section == "Indicadores" %}class='selected'{% endif %}>
          <a href="{% url 'menu_indices' %}">Indicadores</a>
        </li>
        <li {% if section == 'contratos' %}class="selected"{% endif %}>
            <a href="{% url 'menu_contratos' %}">Contratos</a>
        </li>
        <li {% if section == "sistema" %}class="selected"{% endif %}>
            <a href="{% url "sistema" %}">Sistema</a>
        </li>

      </ul>
    {% endif %}
        <ul class="menu">
         <li {% if section == "contatos" %}class='selected'{% endif %}>
              <a href="{% url 'contatos' %}">Duvidas</a>
         </li>
       </ul>
    {% endif %}
  <span class="user">
    {% if request.user.is_authenticated %}
      Olá, {{ request.user.username }}.
      <a href="{% url "logout" %}">   Sair</a>
    {% else %}
      <a href="{% url "login" %}"> Entrar</a>
    {% endif %}
  </span>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}

    {% endblock %}

  </div>
</body>
<br>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; ODG-Sabesp</small>
    </div>
  </footer>

</html>

